/********************************** 
* Design by:  [Nicolas G]
* Design name:  [Lost letter]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Quintessential&display=swap');
.page-wrapper {
  /* Main font */
  font-family: Quintessential, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header font */
  font-family: Quintessential, cursive;
}

/* Background */
#css-zen-garden {
  background: linear-gradient(45deg, #836a32 0%, #6f4646 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: url(image.png) ;
  border: 2px solid #856d30;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
